.sobre-mim {
  padding: 25px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  background-color: #ff240001;
  border: 1px solid #371f1f;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  margin: 0 4em;
}

.sobre-mim p {
  margin-bottom: 16px;
  font-size: 1rem;
  color: #d1d5db;
}

.sobre-mim strong {
  color: var(--secondary-color);
  font-weight: 600;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  justify-content: center;
}

a {
  color: rgb(202, 200, 200);
  text-decoration: none;
  transition: 0.3s;
  font-weight: 100;
}

.me {
  color: var(--secondary-color);
}

.contact-item a:hover {
  text-decoration: underline;
}

.contact-h1 {
  font-size: 50px;
  color: var(--primary-color);
}

.contact-area {
  display: flex;
  padding: 2em;
  backdrop-filter: blur(4px);
  background-color: #ff240001;
  border-radius: 13px;
  margin-top: 12px;
  border: 1px solid #371f1f;
  justify-content: space-evenly;
}

.contact-icons{
  width: 25px;
  opacity: 0.8;
  -webkit-transition: height 0.15s;
  transition: height 0.15s;
  -webkit-animation: link-draw 0.3s;
  -moz-animation: link-draw 0.3s;
  animation: link-draw 0.3s;
  animation-fill-mode: both;
  text-decoration: none; 
  text-align: center;
}

@media (max-width: 400px) {
  h1 {
    font-size: 50px;
  }

  .contact-area{
    flex-direction: column;
    padding: 1em 5px;
  }

  .sobre-mim {
    padding: 10px;
    margin: 1em;

    p {
      font-size: 1.05rem;
    }
  }
}

@media (min-width: 400px) and (max-width: 650px) {
  .contact-area{
    flex-direction: column;
    padding: 1em 5px;
  }

  .sobre-mim {
    padding: 10px;
    margin: 1em;

    p {
      font-size: 1.05rem;
    }
  }
}

@media (min-width: 650px) and (max-width: 900px) {
  .sobre-mim {
    padding: 40px;
    margin: 1em;

    p {
      font-size: 1.1rem;
    }
  }
}