.contact-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  justify-content: center;
}

.contact-item a {
  color: rgb(202, 200, 200);
  text-decoration: none;
  transition: 0.3s;
  font-weight: 100;
}

.me{
  color: var(--secondary-color);
}

.contact-item a:hover {
  text-decoration: underline;
}